<div class="browse">
    <div class="inner-block">
        <div class="title-block">
            <p class="title">{{ BrowseCtrl.customTitle}}</p>
        </div>
        <div class="filter-block">
            <span class="custom-dropdown" uib-dropdown on-toggle="toggled(open)">
                Sort By :
                <a href id="simple-dropdown" uib-dropdown-toggle>
                    {{ BrowseCtrl.customTitle}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li><a ng-click="BrowseCtrl.getRecent()">Latest</a></li>
                    <li><a ng-click="BrowseCtrl.getTop()">Top Rated</a></li>
                    <li><a ng-click="BrowseCtrl.getViews()">Most Viewed</a></li>

                </ul>
            </span>
            <div style="clear:both;"></div>
        </div>
        <div  class="ideas-block">
            <div ng-repeat="idea in BrowseCtrl.ideas" class="custom-idea-small-box" >
                <ng-include   src="'js/angular/shared/ideas/_idea.html'"></ng-include>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="load-more-block">
            <button in-view="$inview&&!BrowseCtrl.disableShowMore&&BrowseCtrl.loadMore()" ng-disabled="BrowseCtrl.disableShowMore" ng-click="BrowseCtrl.loadMore()" class="load-more-button">{{ BrowseCtrl.buttonMessage}}</button>
        </div>
    </div>
</div>