

<div class="login" >
    <div class="inner-block">
        <p class="text">You need to sign in to perform this action</p>
        <p class="sub-text">it takes less than 5 seconds to sign in</p>

        <a ng-click="LoginCtrl.authenticate('linkedin')" class="btn btn-lg btn-social btn-linkedin custom-social-linkedin">
            <span class="fa fa-linkedin"></span> Sign in with LinkedIn
        </a>
        <a ng-click="LoginCtrl.authenticate('google')" class="btn btn-lg btn-social btn-google custom-social-google">
            <span class="fa fa-google"></span> Sign in with Google
        </a>
    </div>
</div>

