<div class="show-idea">
    <div class="inner-block" >
        <div class="navigate-block">
            <div class="visit-block" ng-if="idea.url !== 'null' && idea.url !== ''">
                <a href="{{idea.url}}" target="_blank">
                    <button ng-click="ShowIdeaCtrl.visit(idea)" class="visit">VISIT</button>
                </a>
            </div>
            <div class="back-block"  ui-sref="browse">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </div>
            <div style="clear:both;"></div>
        </div>
        <ng-include    src="'js/angular/shared/ideas/_ideaBig.html'"></ng-include>
        <div class="stats-block">
            <p class="title">Help Founders By Giving Feedback</p>
            <div class="card">
                <div ng-repeat="stat in ShowIdeaCtrl.tags" class="stat-block">
                    <p class="title">{{ stat.name}}</p>
                    <round-progress
                        class="rounded-progress"
                        max="100"
                        current="stat.percentage | num"
                        color="#3fb067"
                        bgcolor="#eaeaea"
                        radius="100"
                        stroke="3"
                        semi="true"
                        rounded="true"
                        clockwise="true"
                        responsive="true"
                        duration="800"
                        animation="easeInOutQuart"
                        animation-delay="0"></round-progress>

                    <p class="score">{{ stat.percentage}} %</p>
                    <p class="count">{{ stat.count}} users</p>
                    <span
                        class="rating"
                        uib-rating
                        ng-if="currentUser.id != idea.user_id"
                        ng-click="stat.user_rated == false && ShowIdeaCtrl.rate(idea, stat, stat.user_rating)"
                        ng-model="stat.user_rating"
                        max="5"
                        data-readonly="stat.user_rated == true"
                        ></span>
                    <span class="undo" ng-if="stat.user_rated == true && currentUser.id != idea.user_id" ng-click="stat.user_rated == true && ShowIdeaCtrl.deleteRate(idea, stat)" >undo</span>
                    <a class="give-feedback-button" ng-if="stat.user_rated == true && currentUser.id != idea.user_id" ng-click="stat.user_rated == true && ShowIdeaCtrl.createFeedback(idea, stat)">Give Feedback</a>
                </div>
            </div>
        </div>
        <div class="feedback-block">
            <!--            <div class="title-block">
                            <p class="title">Feedback</p>
                        </div>-->
            <div ng-repeat="feedback in ShowIdeaCtrl.feedback" class="custom-feedback-block" >
                <ng-include   src="'js/angular/shared/ideas/_feedback.html'"></ng-include>
            </div>
        </div>
    </div>
    <div class="others-block">
        <div class="title-block">
            <p class="title">Check Out These Startups</p>
        </div>
        <div ng-repeat="idea in ShowIdeaCtrl.others" class="custom-idea-small-box" >
            <ng-include   src="'js/angular/shared/ideas/_idea.html'"></ng-include>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>