body { 
    background:url('../assets/images/bgpic.jpg') no-repeat center center fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 900px;
}


ul {
    color:white;
    font-family: Aharoni;
    text-align: center;
    font-size: 18pt;
    padding: 5px;
    list-style-type: none;
}
h5 { 
    color: #6DCFF6;
    text-align: center;
    font-size: 10pt;
}

b > p {
    color:white;
    font-size: 20pt;
    text-align: center;
    font-weight: 900;
    padding-bottom: 10px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {
    background-color: black;
    text-align: center;
    color: white;
    /*padding: 20px;*/
    min-height:28px !important;
}



.custom-a { 
    width: 500px; 
    background-color:#594A41; 
    font-family: times new roman;
    font-style: normal;
    font-weight:bolder;
    color: white;
}

span {
    color:#6DCFF6
}

rounded-corners {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}