
<nav class="custom-navbar">
    <div class="inner-block">

        <a ui-sref="home" class="logo-link"><img class="logo-image" src="assets/images/logo.png"></a>

        <div class="right-nav">
            <div class="links">
                <!--<a ng-if="authenticated">My Feed</a>-->
                <a  ng-class="{ active: base.isActive('home')}" ui-sref="home">Home</a>
                <a  ng-class="{ active: base.isActive('browse')}" ui-sref="browse">Discover</a>
                <!--<a  ng-class="{ active: base.isActive('how_it_works')}" ui-sref="how_it_works">How It Works</a>-->
                <a  ng-class="{ active: base.isActive('new_idea')}" ui-sref="new_idea">Submit Startup</a>
            </div>
            <div ng-if="authenticated" class="profile-dropdown">
                <img class="img-circle pp" src="{{currentUser.photo_path}}">
                <span   uib-dropdown on-toggle="toggled(open)">
                    <a href id="simple-dropdown" uib-dropdown-toggle>
                        {{ currentUser.f_name}}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <!--<li><a ui-sref="my_profile">My profile</a></li>-->
                        <li><a ui-sref="my_favorites">My favorites</a></li>
                        <li><a ui-sref="my_ideas">My ideas</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="base.logout()" href>Logout</a></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="right-nav-mobile">
            <span   uib-dropdown on-toggle="toggled(open)">
                <a href id="simple-dropdown" uib-dropdown-toggle>
                    <span ng-if="!authenticated" class="glyphicon glyphicon-align-justify"></span>
                    <span ng-if="authenticated"  class="pp-dropdown">
                        <img class="img-circle pp" src="{{currentUser.photo_path}}">
                        <span class="caret"></span></span>
                </a>
                <ul class="dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <div class="links">
                        <li ng-if="authenticated"><a  ui-sref="my_favorites">My favorites</a></li>
                        <li ng-if="authenticated"><a  ui-sref="my_ideas">My ideas</a></li>
                        <li ng-if="authenticated"><a ng-click="base.logout()" href>Logout</a></li>
                        <li ng-if="authenticated" class="divider"></li>
                        <li>  <a ui-sref="home">Home</a> </li>
                        <li><a ui-sref="browse">Discover</a> </li>
                        <!--<li><a ui-sref="how_it_works">How It Works</a> </li>-->
                        <li><a ui-sref="new_idea">Submit Startup</a> </li>
                    </div>
                </ul>
            </span>
        </div>


    </div>
</nav>