

<div class="feedback-box" >
    <div class="inner-block">
        <form>
            <div class="form-group">
                <textarea rows="5" ng-model="feedback" class="form-control" id="feedback" placeholder="Write Feedback ..."></textarea>
            </div>
            <a class="btn btn-primary" type="submit" ng-click="postFeedback(idea, stat, feedback)">Submit</a>
            <a class="btn btn-danger" ng-click="closeBox()">Cancel</a>
        </form>
    </div>
</div>

