<div class="spark-box" ng-controller="FeedbackBlockController as FeedbackBlockCtrl">
    <div class="inner-block">
        <div class="header">
            <img class="image img-circle" src="{{feedback.user.photo_path !== null ? feedback.user.photo_path : 'assets/images/small-image-placeholder.png'}}">
            <p class="name" >{{ feedback.user.f_name + ' ' + feedback.user.l_name}}</p>
            <p class="headline">{{ feedback.user.headline}}</p>
            <p class="yes">{{feedback.rating + ' ' + feedback.tag.name}}</p>

        </div>
        <div class="content">
            <p>{{ feedback.feedback}}</p>
            <p ng-if="!feedback.feedback">No Feedback</p>
        </div>

    </div>
</div>