<div class="idea-big-box" ng-controller="IdeaController as IdeaCtrl">
    <div class="inner-block-special">
        <div class="image-block">
            <!--<a href="{{idea.url}}"  target="_blank">-->
            <img class="image" src="{{ idea.logo_path != null ? 'uploads/images/ideas/logos/thumbnail_large/'+idea.logo_path : 'assets/images/placeholder-idea-logo.png'}}">
            <!--</a>-->
            <span ng-if="idea.stage != null" class="stage">{{ idea.stage.name}}</span>
        </div>
        <div class="content-block">
            <div class="description-block">
                <p class="title">{{ idea.name}}</p>

                <div class="interests-block">
                    <span class="interest" ng-repeat="interest in idea.interests">{{ interest.name}}</span>
                </div>
                <p class="sub-title">{{ idea.s_description}}</p>

                <div class="extra" ng-class="{
                            'custom-expand' : IdeaCtrl.showMoreCardBoolean
                            }">

                    <div ng-if="idea.solution" class="solution-block">
                        <p class="title">Description</p>
                        <p class="text">{{ idea.solution}}</p>
                    </div>

                </div>
            </div>
            <div ng-if="currentUser.id != idea.user_id" class="spark-block">
                <p class="spark-text">Would you use it ?</p>
                <p ng-if="idea.yes == true" class="spark-answer-yes">You said YES</p>
                <p ng-if="idea.yes == false" class="spark-answer-no">You said NO</p>
                <span ng-if="idea.yes !== null" ng-click="IdeaCtrl.deleteYesNo(idea)" class="spark-answer-undo">undo</span>
                <span ng-if="idea.yes == null" ng-click="IdeaCtrl.yesFunction(idea)" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span ng-if="idea.yes == null" ng-click="IdeaCtrl.noFunction(idea)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>

            </div>
            <div class="action-block-admin">
                <button ng-if="currentUser.id == idea.user_id" type="button" class="btn btn-default btn-sm edit" ui-sref="edit_idea({id:idea.id})">Edit Idea</button>
                <button ng-if="currentUser.super_admin == true" type="button" class="btn btn-default btn-sm edit" ui-sref="edit_idea({id:idea.id})">Admin Edit</button>
            </div>
            <div class="action-block">
                <span tooltip-placement="top" uib-tooltip="This has been viewed {{ idea.views_count | number }} times" class="views"> {{ idea.views_count | number }}   views</span>
                <span tooltip-placement="top" uib-tooltip="{{ idea.yes_count | number }} people said that they would like to use this" class="yes"> {{ idea.yes_count | number }}   Yes</span>
                <span tooltip-placement="top" uib-tooltip="{{ idea.yes_count | number }} people said that they wouldn't like to use this" class="no"> {{ idea.no_count | number }}   No</span>

                <div class="share" class="btn-group" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle ng-disabled="disabled">Share</button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="#"
                                               socialshare 
                                               socialshare-provider="facebook" 
                                               socialshare-type="feed"
                                               socialshare-via="1654876491502946"
                                               socialshare-media="http://willitspark.com/uploads/images/ideas/logos/thumbnail_medium/{{ idea.logo_path}}"
                                               socialshare-text="{{ idea.name}}"
                                               socialshare-description="{{idea.s_description}}"
                                               socialshare-url="http://willitspark.com/idea/{{ idea.id}}"
                                               >Facebook</a></li>
                        <li role="menuitem"><a href="#"
                                               socialshare 
                                               socialshare-provider="twitter" 
                                               socialshare-text="{{ idea.name}} - {{ idea.s_description}}"
                                               socialshare-hashtags="validate,idea,startup"
                                               socialshare-url="http://willitspark.com/idea/{{ idea.id}}"
                                               >Twitter</a></li>
                        <li role="menuitem"><a href="#"
                                               socialshare 
                                               socialshare-provider="linkedin" 
                                               socialshare-text="{{ idea.name}}"
                                               socialshare-description="{{  idea.s_description}}"
                                               socialshare-url="http://willitspark.com/idea/{{ idea.id}}"
                                               >LinkedIn</a></li>
                        <li role="menuitem"><a href="#"
                                               socialshare 
                                               socialshare-provider="google" 
                                               socialshare-url="http://willitspark.com/idea/{{ idea.id}}"
                                               >Google</a></li>

                        <!--<li class="divider"></li>-->
                        <!--<li role="menuitem"><a href="#">Separated link</a></li>-->
                    </ul>
                </div>
                <div class="heart-block">
                    <span ng-if="!idea.favorited" ng-click="IdeaCtrl.heart(idea)" class="heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></span>
                    <span ng-if="idea.favorited" ng-click="IdeaCtrl.unheart(idea)" class="heart"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></span>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>

        <div ng-if="!$state.is('show')" class="enable-extras">
            <span class="glyphicon glyphicon-triangle-bottom" ng-if="!IdeaCtrl.showMoreCardBoolean" ng-click="IdeaCtrl.showMoreCard()" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-triangle-top" ng-if="IdeaCtrl.showMoreCardBoolean" ng-click="IdeaCtrl.showMoreCard()" aria-hidden="true"></span>
        </div>
    </div>
</div>