<div class="idea-featured-box" ng-controller="IdeaController as IdeaCtrl">
    <div class="inner-block-special">
        <a ui-sref="show({id:idea.id})" class="clickable">
            <div class="image-block">
                <img class="image" src="{{ idea.logo_path != null ? 'uploads/images/ideas/logos/thumbnail_medium/'+idea.logo_path : 'assets/images/placeholder-idea-logo.png'}}">
            </div>
        </a>
        <div class="content-block">
            <a ui-sref="show({id:idea.id})" class="clickable">

                <div class="description-block">
                    <p class="title">{{ idea.name}}</p>
                    <p class="sub-title">{{ idea.s_description}}</p>
                </div>
            </a>

            <div class="action-block">
                <span tooltip-placement="top" uib-tooltip="This has been viewed {{ idea.views_count | number }} times" class="views"> {{ idea.views_count | number }}   views</span>
                <span tooltip-placement="top" uib-tooltip="{{ idea.yes_count | number }} people said that they would like to use this" class="yes"> {{ idea.yes_count | number }}   Y</span>
                <span tooltip-placement="top" uib-tooltip="{{ idea.yes_count | number }} people said that they wouldn't like to use this" class="no"> {{ idea.no_count | number }}   N</span>

                <div class="share" class="btn-group" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle ng-disabled="disabled">Share</button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="#"
                                               socialshare 
                                               socialshare-provider="facebook" 
                                               socialshare-type="feed"
                                               socialshare-via="1654876491502946"
                                               socialshare-media="http://willitspark.com/uploads/images/ideas/logos/thumbnail_medium/{{ idea.logo_path}}"
                                               socialshare-text="{{ idea.name}}"
                                               socialshare-description="{{idea.s_description}}"
                                               socialshare-url="http://willitspark.com/idea/{{ idea.id}}"
                                               >Facebook</a></li>
                        <li role="menuitem"><a href="#"
                                               socialshare 
                                               socialshare-provider="twitter" 
                                               socialshare-text="{{ idea.name}} - {{ idea.s_description}}"
                                               socialshare-hashtags="validate,idea,startup"
                                               socialshare-url="http://willitspark.com/idea/{{ idea.id}}"
                                               >Twitter</a></li>
                        <li role="menuitem"><a href="#"
                                               socialshare 
                                               socialshare-provider="linkedin" 
                                               socialshare-text="{{ idea.name}}"
                                               socialshare-description="{{  idea.s_description}}"
                                               socialshare-url="http://willitspark.com/idea/{{ idea.id}}"
                                               >LinkedIn</a></li>
                        <li role="menuitem"><a href="#"
                                               socialshare 
                                               socialshare-provider="google" 
                                               socialshare-url="http://willitspark.com/idea/{{ idea.id}}"
                                               >Google</a></li>

                        <!--<li class="divider"></li>-->
                        <!--<li role="menuitem"><a href="#">Separated link</a></li>-->
                    </ul>
                </div>
                <span ng-if="!idea.favorited" ng-click="IdeaCtrl.heart(idea)" class="heart"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></span>
                <span ng-if="idea.favorited" ng-click="IdeaCtrl.unheart(idea)" class="heart"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></span>
            </div>
        </div>
    </div>
</div>