<div class="home">
    <div class="intro">
        <div class="inner-block">
            <h1 class="title">Welcome to Will It Spark</h1>
            <h3 class="sub-title">Share , Discover and Rate amazing new startups and products</h3>
            <p ng-if="!authenticated" class="sign-in">It takes less than 5 seconds to sign in</p>
            <a ng-if="!authenticated" ng-click="base.authenticate('linkedin')" class="btn btn-lg btn-social btn-linkedin custom-social-linkedin">
                <span class="fa fa-linkedin"></span> Sign in with LinkedIn
            </a>
            <a ng-if="!authenticated" ng-click="base.authenticate('google')" class="btn btn-lg btn-social btn-google custom-social-google">
                <span class="fa fa-google"></span> Sign in with Google
            </a>
        </div>
    </div>
    <div class="featured">
        <div class="inner-block">
            <div class="featured-ideas-text-block">
                <p class="featured-ideas-text">Featured</p>
            </div>
            <div class="ideas-block">
                <div ng-repeat="idea in HomeCtrl.ideas" class="custom-idea-featured-box" >
                    <ng-include   src="'js/angular/shared/ideas/_ideaFeatured.html'"></ng-include>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="discover-more-block">
                <button ui-sref="browse" class="discover-more-button">Discover More</button>
            </div>
        </div>
    </div>
</div>