@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bourbon/bourbon";
@import "variables";
@import "modules";
@import "modules_1355px";
@import "modules_1090px";
@import "modules_1024px";
@import "modules_900px";
@import "modules_850px";
@import "modules_730px";
@import "modules_500px";

@font-face {
    font-family: 'mairy regular';
    src: url("../assets/fonts/Mairy Regular.otf") format("opentype");
}

h1, h2, h3, h4, h5 ,h6 {
    /*font-family: 'Raleway', sans-serif;*/
    font-weight: 600;
}


html{

}

.custom-form-input-required{
    color:red;
}


body {
    font-family:  sans-serif;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}



.has-error  {
    > input{
        border: 1px solid;
    }
    > p{
        margin: 0
    }
}


.alertIn, .alertOut {
    -webkit-transition: -webkit-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    -moz-transition: -moz-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    -o-transition: -o-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    transition: transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);

}
.alertIn.ng-hide-remove, .alertOut.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    -webkit-transform: translate3d(0px, -100px, 0px);
    transform: translate3d(0px, -100px, 0px);
    display: block !important;

}
.alertOut.ng-hide-add, .alertIn.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    display: block !important;
}

