
@media only screen and (max-width: 1090px) { /* CSS */ 


    .home{
        .featured{
            .inner-block{
                .ideas-block{
                    .custom-idea-featured-box{
                        margin: auto 0.5em;
                    }
                }
            }
        }
    }

    .idea-featured-box{

        width: 450px;


    }

    .how-it-works{
        > .inner-block{
            .hero{
                .inner-block{
                    .background-image{

                        .first-block{
                            font-size: 50px;

                        }
                        .second-block{
                            font-size: 36px;

                        }
                        .custom-social-linkedin{

                            width: 24%;

                        }
                        .custom-social-google{

                            width: 24%;

                        }
                    }
                }
            } 
            .how-it-works{

                .inner-block{

                    .title{
                    }
                    .first-block,.second-block,.third-block{

                        .image{

                        }
                        .text{
                            font-size: 30px;

                        }
                        .sub-text{
                            font-size: 18px;

                        }
                    }

                }
            }
        }
    }

}