

.main-wrapper{
    /*height: 100%;*/
    /*position: relative;*/

}

.custom-navbar{
    /*background-color : $red;*/
    height: 113px;
    .inner-block{
        padding-top: 28px;
        width: 90%;
        margin: auto;

        .logo-link{
            cursor:pointer;
            .logo-image{

            }
        }

        .right-nav{
            float: right;
            .links{
                padding-top: 5px;
                font-family: mairy regular;
                display: inline-block;
                a{
                    cursor: pointer;
                    font-size: 30px;
                    color: $grey;
                    margin: 20px;
                    text-decoration: none;

                }
                .active{
                    color: $green;
                }
            }
            .profile-dropdown{
                display: inline-block;
                img{
                    width: 45%;
                }
                .dropdown{
                    left: 13px;
                    font-size: 16px;
                    a{
                        text-transform: capitalize;
                        color: rgb(0, 0, 0);
                        .caret{
                            position: relative;
                            left: 5px;
                        }
                    }
                }
            }
        }
        .right-nav-mobile{
            display: none;
        }

    }
}

.custom-footer{
    background-color: rgb(226, 226, 226);
    > .inner-block{
        width: 80%;
        margin: auto;
        .copyright{
            text-align: center;
            padding-top: 10px;
            font-size: 10px;
        }
        .social-icons{
            text-align:center;
            padding-bottom:10px;
            span{

            }
        }
    }
}

.custom-full-height{
    height: 100%;
}
.how-it-works{
    > .inner-block{
        .hero{
            .inner-block{
                .background-image{
                    background-image: url('../assets/images/hero.png');
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 0;
                    padding-top: 50%;
                    text-align:center;
                    color:white;
                    .first-block{
                        font-size: 60px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 160px;
                    }
                    .second-block{
                        font-size: 36px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 250px;
                    }
                    .custom-social-linkedin{
                        position: absolute;
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                        width: 20%;
                        top: 340px;
                        border: 2px solid rgb(255, 255, 255);
                    }
                    .custom-social-google{
                        position: absolute;
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                        width: 20%;
                        top: 410px;
                        border: 2px solid rgb(255, 255, 255);
                    }
                }
            }
        } 
        .how-it-works{
            color:white;
            font-family:mairy-regular;
            background-color:$green;
            .inner-block{
                padding: 25px;
                text-align:center;
                .title{
                    font-size: 48px;
                }
                .first-block,.second-block,.third-block{
                    vertical-align: middle;
                    display:inline-block;
                    width:33%;
                    .image{

                    }
                    .text{
                        font-size: 48px;

                    }
                    .sub-text{
                        font-size: 28px;

                    }
                }

            }
        }
    }
}
.home{
    .intro{
        text-align:center;
        background-color : $green;
        color : white;
        padding : 40px 0px;
        font-family : Mairy regular;
        > .inner-block{
            .title{
                margin-bottom: 0px;
            }   
            .sub-title{
                margin-top: 0px;
                font-weight: normal;
                font-size: 27px;
            }
            .sign-in{

            }
            .custom-social-linkedin{

            }
            .custom-social-google{

            }
        }
    }
    .featured{
        background-color:#f0f3f2;
        padding-bottom:20px;

        .inner-block{
            width:80%;
            margin:auto;
            .featured-ideas-text-block{
                padding: 10px 0;
                text-align:center;
                .featured-ideas-text{
                    color: black;
                    font-size: 50px;
                }    
            }
            .ideas-block{
                text-align: center;

                .custom-idea-featured-box{
                    text-align: left;
                    display: inline-block;
                    margin: auto 1.5em;
                    vertical-align: middle;
                    margin-bottom: 37px;
                }
            }
            .discover-more-block{
                text-align:center;
                margin: 40px 0px;
                .discover-more-button{
                    border-radius: 10px;
                    background-color: rgb(63, 176, 103);
                    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.45);
                    width: 160px;
                    height: 50px;
                    color: white;
                    font-size: 18px;
                    border: none;
                }
            }
        }
    }
}

.browse{
    background-color: rgb(247, 247, 247);
    .inner-block{
        text-align:center;
        width:80%;
        margin:auto;
        .title-block{
            padding-top: 50px;
            text-align:center;
            .title{
                color: black;
                font-size: 40px;
            }    
        }
        .filter-block{
            margin: 20px auto;
            font-size: 20px;
            .custom-dropdown{
                float: right;
                a{
                    color:black;
                    &:hover{
                        text-decoration: none;
                        cursor: pointer;
                    }

                }
            }
        }
        .ideas-block{
            text-align: center;
            .custom-idea-small-box{
                text-align: left;
                display: inline-block;
                margin: auto 1.5em;
                vertical-align: middle;
                margin-bottom: 37px;
            }
        }
        .load-more-block{
            text-align:center;
            padding: 40px 0px;
            .load-more-button{
                border-radius: 10px;
                background-color: rgb(63, 176, 103);
                box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.45);
                width: 160px;
                height: 50px;
                color: white;
                font-size: 18px;
                border: none;
            }
        }
    }
}

.my-favorites,.my-ideas{
    .inner-block{
        text-align:center;
        width:80%;
        margin:auto;
        .title-block{
            padding-top: 50px;
            text-align:center;
            .title{
                color: black;
                font-size: 40px;
            }    
        }

        .ideas-block{
            text-align: center;
            .custom-idea-small-box{
                text-align: left;
                display: inline-block;
                margin: auto 1.5em;
                vertical-align: middle;
                margin-bottom: 37px;
            }
        }
    }
}

.my-profile{
    > .inner-block{
        .title-block{
            padding-top: 50px;
            text-align:center;
            .title{
                color: black;
                font-size: 40px;
            }    
        }
    }
}

.show-idea{
    margin-top:50px;
    > .inner-block{
        width: 60%;
        margin:auto;
        .navigate-block{
            color: black;
            margin-bottom: 10px;
            text-align:center;
            .visit-block{
                display: inline-block;
                float: right;
                .visit{
                    /*border-radius: 10px;*/
                    background-color: rgb(63, 176, 103);
                    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.45);
                    width: 110px;
                    height: 30px;
                    color: white;
                    font-size: 18px;
                    border: none;
                }
            }
            .back-block{
                cursor: pointer;
                display: inline-block;
                float: left;
                .glyphicon{
                    font-size: 30px;
                }

            }

        }
        .stats-block{
            text-align:center;
            margin: 50px auto;

            > .title{
                font-size: 25px;
                color: black;
                font-weight: bold;
            }
            .card{
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
                margin-top:40px;
                .stat-block{
                    display: inline-block;
                    position: relative;
                    width: 33%;
                    margin: 3em 6em;
                    .title{
                        font-weight: bold;
                        font-size: 20px;
                    }
                    .rounded-progress{

                    }
                    .score{
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        text-align: center;
                        width: 100%;
                        z-index: 1;
                        font-size: 30px;
                        font-weight: bold;
                        /*color: rgb(78, 206, 207);*/
                        color : $green;
                    }
                    .count{
                        position: absolute;
                        top: 68%;
                        left: 0;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        text-align: center;
                        width: 100%;
                        z-index: 1;
                        font-size: 15px;
                    }
                    .rating{
                        font-size: 30px;
                        color : $green;
                    }
                    .undo{
                        cursor: pointer;
                    }
                    .give-feedback-button{
                        text-decoration: none;
                        cursor: pointer;
                        display: block;
                    }
                }
            }

        }
        .feedback-block{
            /*            .title-block{
                            text-align:center;
                            margin: 30px auto;
                            .title{
                                font-size: 20px;
                                color: black;
                                font-weight: bold;
                            }
                        }*/
            .custom-feedback-block{
                margin-bottom: 20px;
            }
        }

    }
    .others-block{
        text-align: center;
        margin-top : 200px;
        .title-block{
            margin-bottom : 20px;
            .title{
                font-size: 25px;
            }
        }
        .custom-idea-small-box{
            text-align: left;
            display: inline-block;
            margin: auto 1.5em;
            vertical-align: middle;
            margin-bottom: 37px;
            width:300px;
            .idea-small-box{
                width: 100%;
            }
        }
    }
}

.post-new-idea ,.edit-idea{
    > .inner-block{
        width: 60%;
        margin: 40px auto;
        .logo-form{
            .image-block{
                .image{
                    width:290px;
                    height :230px;
                }
            }
        }
        .usps-form{
            .usps-list{
                .usps-item{
                    .glyphicon{
                        font-size: 11px;
                        margin-left: 10px;
                        color: rgb(255, 0, 0);
                        cursor: pointer;
                    }
                }
            }
            .usps-input{
                display: inline-block;
                width: 80%
            }
            .usps-add{
                display: inline-block;
            }
        }
        .submit-button{
            margin-top: 20px;
        }
    }
}

.idea-small-box{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    width:300px;
    height: 390px;

    .inner-block-special{
        .image-block{
            padding: 5px 5px;
            .image{
                width:100%;
                height: 230px;
                border: 1px solid rgb(215, 223, 226);

            }
        }
        .content-block{
            width:90%;
            margin:auto;
            .clickable{
                text-decoration:none;
                .description-block{
                    .title{
                        font-size: 20px;
                        font-weight: bold;
                        color: black;
                        height: 28px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .sub-title{
                        font-size: 15px;
                        color: black;
                        height: 63px;
                        overflow-y: hidden;
                    }
                }
            }
            .action-block{
                padding-top:3px;
                border-top:1px solid;
                .views{
                }

                .yes{
                    margin-left: 10px;

                }
                .no{
                    margin-left: 10px;

                }
                .sparks{
                    margin-left: 10px;
                    img{
                        width: 5%;
                    }
                }
                .heart{
                    cursor: pointer;
                    float: right;
                    margin-right: 15px;
                    font-size: 21px;
                    .glyphicon{
                        top:5px;
                    }
                }
                .share{
                    cursor: pointer;
                    padding-top: 2px;
                    float: right;
                }
            }
        }
    }
}
.idea-featured-box{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    width: 500px;
    height: 390px;

    .inner-block-special{
        .image-block{
            padding: 5px 5px;
            .image{
                width:100%;
                height: 230px;
                border: 1px solid rgb(215, 223, 226);

            }
        }
        .content-block{
            width:97%;
            margin:auto;
            .clickable{
                text-decoration:none;
                .description-block{
                    .title{
                        font-size: 20px;
                        font-weight: bold;
                        color: black;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .sub-title{
                        font-size: 15px;
                        color: black;
                        height: 63px;
                        overflow-y: hidden;
                    }
                }
            }
            .action-block{
                padding-top:3px;
                border-top:1px solid;
                .views{
                }

                .yes{
                    margin-left: 10px;

                }
                .no{
                    margin-left: 10px;

                }
                .sparks{
                    margin-left: 10px;
                    img{
                        width: 5%;
                    }
                }
                .heart{
                    cursor: pointer;
                    float: right;
                    margin-right: 15px;
                    font-size: 21px;
                    .glyphicon{
                        top:5px;
                    }
                }
                .share{
                    cursor: pointer;
                    padding-top: 2px;
                    float: right;
                }
            }
        }
    }
}
.idea-big-box{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    width:100%;
    /*height: 390px;*/

    .inner-block-special{

        .image-block{
            position: relative;
            width: 100%;
            padding: 5px 5px;
            .image{
                width:100%;
                max-height: 450px;
                border: 1px solid rgb(215, 223, 226);

            }
            .stage{
                text-decoration: none;   
                /*top: 22px;*/
                position: absolute;
                left: 50%;
                transform: translate(-50%,-50%);
                border: 1px solid rgb(255, 255, 255);
                padding: 1px 5px;
                /*background-color: rgba(0, 0, 0, 0.38);*/
                background-color: rgb(0, 0, 0);
                color: rgb(255, 255, 255);
                font-size: 15px;
                text-transform: uppercase;
            }
        }
        .content-block{
            width:95%;
            /*display: inline-block;*/
            vertical-align: bottom;
            margin:auto;
            .description-block{
                margin : 15px 0px; 

                .title{
                    font-size: 22px;

                    font-weight: bold;
                    color: black;
                    margin-bottom: 0px;
                }
                .interests-block{
                    .interest{
                        font-size: 12px;
                        color: rgb(89, 88, 88);
                        padding-right: 8px;
                    }
                }
                .sub-title{
                    margin-top: 10px;
                    color: black;
                    font-size: 17px;
                }
                .extra{
                    overflow-y: hidden;
                    margin-top: 37px;
                    .solution-block{
                        .title{
                            font-size: 15px;
                            font-weight: bold;
                            color: rgb(0, 0, 0);
                        }
                        .text{
                            margin-top: 10px;
                            font-size: 17px;

                        }
                    }

                }
            }
            .spark-block{
                .spark-text{
                    font-size: 20px;
                    font-weight: bold;
                    color: rgb(0, 0, 0);
                    display: inline-block;
                }
                .glyphicon{
                    margin-left: 13px;
                    font-size: 17px;
                    cursor: pointer;
                }
                .spark-answer-yes{
                    display: inline-block;
                    padding: 0px 10px;
                    font-size: 18px;
                }
                .spark-answer-no{
                    display: inline-block;
                    padding: 0px 10px;
                    font-size: 18px;
                }
                .spark-answer-undo{
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                .spark{
                    float: right;
                }
                .unspark{
                    float: right;
                }
            }
            .action-block-admin{
                padding-bottom: 5px;
                > .edit{
                    /*float:right;*/
                }
            }
            .action-block{
                padding-top:3px;
                border-top:1px solid;
                vertical-align:middle;
                .views{

                }
                .yes{
                    margin-left: 17px;

                }
                .no{
                    margin-left: 17px;

                }
                .sparks{
                    margin-left: 17px;
                    img{
                        width: 3%;
                        /*margin-left: 5px;*/
                    }
                }
                .heart-block{
                    position: relative;
                    right: 20px;
                    float: right;
                    display:inline-block;
                    .heart{
                        cursor: pointer;
                        margin-left: 20px;
                        font-size: 21px;
                        .glyphicon{
                            top:5px;
                        }
                    }
                }
                .share{
                    cursor: pointer;
                    padding-top: 3px;
                    padding-bottom: 4px;
                    float: right;
                }
            }
        }
        .custom-expand{
            height: auto !important;
            overflow-y: none !important;
        }

        .enable-extras{
            text-align:center;
            .glyphicon{
                cursor:pointer;

            }
        }
    }
}
.spark-box{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    width: 100%;
    > .inner-block{
        padding: 20px;
        > .header{
            .image{
                width: 50px;
                display: inline-block;
            }
            .name{
                display: inline-block;
                font-size:20px;
                color:black;
                margin-left: 10px;
                text-transform: capitalize;

            }
            .headline{
                display: inline-block;
                font-size: 12px;
                color: #787878;
                margin-left: 4px;
            }
            .spark-img{
                display: inline-block;
                float: right;
            }
            .yes{
                display: inline-block;
                float: right;
                padding: 5px;
                border: 1px solid;
                background-color: rgb(255, 255, 255);
            }
            .no{
                display: inline-block;
                float: right;
                padding-left: 20px;
            }

        }
        > .content{
            padding: 18px 10px;
        }
        >  .enable-extras{
            text-align:center;
            .glyphicon{
                cursor:pointer;

            }
        }
    }
}
.login-modal{
    .modal-dialog{
        margin-top: 11%;
        .modal-content{
            background-color: rgba(0, 0, 0, 0.85);
            border: 1px solid rgb(255, 255, 255);
            .login{
                height: 300px;
                .inner-block{
                    color: white;
                    text-align:center;
                    .text{
                        font-size: 30px;
                        margin: 40px 0px;
                    }
                    .sub-text{

                    }       
                    .custom-social-linkedin{
                        display: block;
                        width: 70%;
                        margin: auto;
                        margin-bottom: 15px;
                    }
                    .custom-social-google{
                        display: block;
                        width: 70%;
                        margin: auto;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}
.feedback-box-modal{
    .modal-dialog{
        margin-top: 11%;
        .modal-content{

            border: 1px solid rgb(255, 255, 255);
            .feedback-box{
                > .inner-block{
                    .spark-block{
                        padding-bottom: 20px;
                        .spark-img{
                            float: right;
                        }
                    }
                    padding: 20px;
                }
            }
        }
    }
}

.custom-flash-alert{
    position: absolute;
    width: 36%;
    margin: 0 auto;
    top: 29px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

