
@media only screen and (max-width: 1024px) { /* CSS */ 


    .home{
        .featured{
            .inner-block{
                .ideas-block{
                    .custom-idea-featured-box{
                        margin: 0.5em 0.5em;
                    }
                }
            }
        }
    }

    .idea-featured-box{

        width: 450px;


    }



    .custom-navbar{
        .inner-block{
            .right-nav{
                display: none;

            }
            .right-nav-mobile{
                display: inline-block;
                float: right;
                .glyphicon{
                    font-size: 30px;
                    color:black;
                }
                .pp-dropdown{
                    text-transform: capitalize;
                    color: rgb(0, 0, 0);
                    .caret{
                        position: relative;
                        left: 5px;
                    }
                }
                .pp{
                    width: 45%;
                }
                .links{
                    padding-top: 5px;
                    font-family: mairy regular;
                    a{
                        cursor: pointer;
                        font-size: 20px;
                        color: $grey;
                        margin: 20px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .show-idea{
        > .inner-block{
            .stats-block{

                .card{

                    .stat-block{ 
                        width: 80%;
                        margin: 3em 2em;
                    }
                }
            }
        }
    }

}