
@media only screen and (max-width: 730px)  { /* CSS */ 

    .how-it-works{
        > .inner-block{
            .hero{
                .inner-block{
                    .background-image{
                        background-size: 100% 130%;
                        padding-top: 70%;
                        .first-block{
                            font-size: 31px;

                        }

                        .custom-social-linkedin{

                            width: 40%;

                        }
                        .custom-social-google{

                            width: 40%;

                        }
                    }
                }
            } 

            .how-it-works{

                .inner-block{


                    .first-block,.second-block,.third-block{


                        .text{
                            font-size: 30px;

                        }
                        .sub-text{
                            font-size: 28px;

                        }

                    }

                }
            }
        }
    }

}