
@media only screen and (max-width: 500px)  { /* CSS */ 

    .idea-featured-box{

        width: 100%;


    }
    .custom-navbar{

        .inner-block{


            .logo-link{
                .logo-image{
                    width:55%;

                }
            }
        }
    }
    .home{
        .intro{

            > .inner-block{

                .custom-social-linkedin{

                }
                .custom-social-google{
                    margin-top: 5px;
                }
            }
        }
    }
    .idea-small-box{
        width: 100%;
    }

    .browse{
        .inner-block{
            text-align:center;
            width:100%;



        }
    }

    .how-it-works{
        > .inner-block{
            .hero{
                .inner-block{
                    .background-image{
                        padding-top: 100%;
                        .first-block{
                            font-size: 35px;

                        }

                        .second-block{
                            top: 275px;
                        }

                        .custom-social-linkedin{

                            width: 80%;

                        }
                        .custom-social-google{

                            width: 80%;

                        }
                    }
                }
            } 
            .how-it-works{

                .inner-block{


                    .first-block,.second-block,.third-block{


                        .text{
                            font-size: 25px;

                        }

                    }

                }
            }
        }
    }

    .show-idea{
        > .inner-block{
            width: 97%;

        }
    }
}