
@media only screen and (max-width: 900px) { /* CSS */ 


    .how-it-works{
        > .inner-block{
            .hero{
                .inner-block{
                    .background-image{

                        .first-block{
                            font-size: 43px;

                        }

                        .custom-social-linkedin{

                            width: 30%;

                        }
                        .custom-social-google{

                            width: 30%;

                        }
                    }
                }
            } 
            .how-it-works{

                .inner-block{


                    .first-block,.second-block,.third-block{


                        .text{
                            font-size: 25px;

                        }

                    }

                }
            }
        }
    }






}