
@media only screen and (max-width: 1355px)  { /* CSS */ 


    .home{
        .featured{
            .inner-block{
                width:100%;
            }
        }
    }
    .show-idea{
        > .inner-block{
            width: 70%;

        }
    }


}