
@media only screen and (max-width: 850px) { /* CSS */ 




    .how-it-works{
        > .inner-block{
            .hero{
                .inner-block{
                    .background-image{

                        .first-block{
                            font-size: 38px;

                        }

                        .custom-social-linkedin{

                            width: 35%;

                        }
                        .custom-social-google{

                            width: 35%;

                        }
                    }
                }
            } 

            .how-it-works{

                .inner-block{


                    .first-block,.second-block,.third-block{

                        display: block;
                        width: 100%;
                        margin: 50px 0;


                    }

                }
            }
        }
    }













}