$mulberry: rgb(142, 12, 86);
$lime: rgb(195, 214, 0);
$navy: rgb(0, 54, 103);
$cyan: rgb(94, 206, 221);
$gray: rgb(155, 174, 173);
$platinum: #9db0ac;
$purple: rgb(62, 16, 81);
$offwhite: #F3F3F3;

$graphite: #3f4444;
$magenta: #D0006F;

$green: #3fb067;
$grey: #898687;
$red: #4d1a1a;
