

<div class="edit-idea" >
    <div class="inner-block">
        <form name="edit_idea">
            <div class="form-group logo-form">
                <label >Cover</label>
                <div class="image-block">
                    <img class="image" ngf-src="EditIdeaCtrl.idea.logo != null ? EditIdeaCtrl.idea.logo : EditIdeaCtrl.idea.logo_path != null ? 'uploads/images/ideas/logos/thumbnail_small/'+EditIdeaCtrl.idea.logo_path   : 'http://placehold.it/290x230'">
                    <p ng-if="EditIdeaCtrl.error.logo[0]" style="color: red">{{EditIdeaCtrl.error.logo[0]}}</p>
                    <a  
                        class="btn btn-sm"
                        ngf-select 
                        ng-model="EditIdeaCtrl.idea.logo"
                        ngf-max-size="20MB"
                        name="image" 
                        ngf-pattern="'image/*'"
                        ngf-accept="'image/*'"

                        >
                        Select</a>
                </div>


                <!--                <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
                                     ngf-resize="{width: 100, height: 100}">Select</div>-->
            </div>

            <div class="form-group">
                <label for="name">Name <span class="custom-form-input-required">*</span></label>
                <input  ng-model="EditIdeaCtrl.idea.name" name="name" class="form-control" id="name" placeholder="Idea Name" required>
            </div>

            <div class="form-group">
                <label for="s_description">One Sentence Description <span class="custom-form-input-required">*</span></label>
                <input type="text" ng-model="EditIdeaCtrl.idea.s_description" name="s_description" class="form-control" id="s_description" placeholder="Short Description" required>
            </div>

            <div class="form-group">
                <label for="idea_stage_id">Stage <span class="custom-form-input-required">*</span></label>
                <select class="form-control" name="idea_stage_id" id="idea_stage_id" ng-model="EditIdeaCtrl.idea.idea_stage_id"
                        ng-options="stage.id as stage.name for stage in EditIdeaCtrl.stages"
                        >
                </select>
            </div>

            <div class="form-group">
                <label for="solution">Detailed Description</label>
                <textarea rows="5" ng-model="EditIdeaCtrl.idea.solution" name="solution" class="form-control" id="solution" placeholder="Solution in details"></textarea>
            </div>

            <div class="form-group">
                <label for="url">Startup Website URL</label>
                <input  ng-model="EditIdeaCtrl.idea.url" name="url" class="form-control" id="url" placeholder="url">
            </div>

            <div class="form-group">
                <label for="tags">Tags</label>
                <div
                    id="tags"
                    isteven-multi-select
                    helper-elements=""
                    input-model="EditIdeaCtrl.tags"
                    output-model="EditIdeaCtrl.idea.interests"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    >
                </div>
            </div>


            <button ng-if="!EditIdeaCtrl.uploading" class="btn btn-primary submit-button" type="submit" ng-click="
                edit_idea.name.$valid &&
                        edit_idea.s_description.$valid &&
                        EditIdeaCtrl.update(EditIdeaCtrl.idea)">Submit</button>
            <button ng-if="EditIdeaCtrl.uploading" ng-disabled="true" class="btn btn-primary submit-button" type="submit" ng-click="
                edit_idea.name.$valid &&
                        edit_idea.s_description.$valid &&
                        EditIdeaCtrl.update(EditIdeaCtrl.idea)">Uploading ...</button>
        </form>
    </div>
</div>

