
<nav class="custom-footer">
    <div class="inner-block">

        <p class="copyright">© 2016 WILL IT SPARK ALL RIGHTS RESERVED</p>
        <div class="social-icons">
            <a href="https://twitter.com/willitspark"><span class="fa fa-twitter"></span></a>
            <a href="https://www.facebook.com/Willitspark"><span class="fa fa-facebook"></span></a>
            <!--            <a class="btn btn-social-icon btn-twitter">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a class="btn btn-social-icon btn-facebook">
                            <span class="fa fa-facebook"></span>
                        </a>-->
        </div>

    </div>
</nav>