<div class="how-it-works">
    <div class="inner-block">

        <div class="hero">
            <div class="inner-block">
                <div class="background-image">
                    <h1 class="first-block">Want To Validate Your Startup Idea ?</h1>
                    <p class="second-block">This is the right place</p>
                    <a ng-if="!authenticated" ng-click="base.authenticate('linkedin')" class="btn btn-lg btn-social btn-linkedin custom-social-linkedin">
                        <span class="fa fa-linkedin"></span> Sign in with LinkedIn
                    </a>
                    <a ng-if="!authenticated" ng-click="base.authenticate('google')" class="btn btn-lg btn-social btn-google custom-social-google">
                        <span class="fa fa-google"></span> Sign in with Google
                    </a>
                </div>
            </div>
        </div>
        <div class="how-it-works">
            <div class="inner-block">
                <p class="title">How It Works</p>
                <div class="first-block">
                    <img class="image" src="assets/images/how_it_works_1.png">
                    <p class="text">Post Your Idea Or Product</p>
                    <p class="sub-text">For everyone to see</p>
                </div>
                <div class="first-block">
                    <img class="image" src="assets/images/how_it_works_2.png">
                    <p class="text">Collect Yeses And Noes</p>
                    <p class="sub-text">See if people will use it or not</p>
                </div>
                <div class="first-block">
                    <img class="image" src="assets/images/how_it_works_3.png">
                    <p class="text">Get Feedback</p>
                    <p class="sub-text">See what people think of what you are building</p>
                </div>
            </div>
        </div>
    </div>

</div>