

<div class="my-favorites" >
    <div class="inner-block">
        <div class="title-block">
            <p class="title">Favorited Ideas</p>
        </div>

        <div class="ideas-block">
            <div ng-repeat="idea in MyFavoritesCtrl.ideas" class="custom-idea-small-box" >
                <ng-include   src="'js/angular/shared/ideas/_idea.html'"></ng-include>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>

